body {
    color: #fff;
}

.choice-container {
    display:flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: var(--purp);
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 var(--prpnk);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: #fff;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, darkblue 0%, blue 100%);
}

.incorrect {
    background: linear-gradient(32deg, darkred 0%, red 100%);
}

/* Heads up display */

#hud {
    display: flex;
    justify-content: space-between;

}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid var(--pnk);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: var(--pnk);
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}